{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
.about-image {
    width: 100%;
    max-height: 500px;
    max-width: 500px;
    padding-top: 80px;
    object-fit: cover;
    display: block;
}

.img-container {
    width: 100%;
    max-width: 400px; /* Adjust based on your preference */
    height: 500px; /* Fixed height to maintain a square/rectangle */
    overflow: hidden; /* Prevents content overflow */
    margin: 0 auto; /* Centers the container */
}

</style>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           At Movies Store, we offer a vast digital library
           that spans across genres, ensuring there's
           something for every movie lover. Browse our
           extensive collection of films, including the
           latest releases, timeless classics, and hidden
           gems. With just a few clicks, you can rent or
           purchase your favorite titles and instantly
           stream them in high-definition quality.
        </p>
        <p>
          Discover the convenience of our digital platform,
          where you have the flexibility to watch movies
          on your preferred device, whether it's a smart
          TV, tablet, or smartphone. With our intuitive
          search and recommendation features, finding your
          next movie night pick has never been easier.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center img-container">
        <img src="{% static 'img/about.jpg' %}"
             class="about-image"
             alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}