{% extends "base.html" %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body text-center">
            <h2>Password Reset Successful</h2>
            <hr />
            <p>Your password has been set. You can now log in with your new password.</p>
            <div class="text-center">
              <a href="{% url 'accounts.login' %}" class="btn bg-dark text-white">Go to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}