{% extends "base.html" %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2 class="text-center">Forgot Password?</h2>
            <hr />
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
              {% endfor %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <p>
                <label for="id_email">Email</label>
                <input id="id_email" type="email"
                       name="email" required
                       autocomplete="email"
                       class="form-control"
                       placeholder="Enter your email">
              </p>
                <p class="small text-muted text-center">
                Please check your email after you hit submit. If an account with the email you provided exists, you should receive an email shortly.
              </p>
              <div class="text-center">
                <button type="submit" class="btn bg-dark text-white col-md-12">Submit</button>
              </div>
            </form>
            <hr />
            <div class="text-center">
              <a href="{% url 'accounts.signup' %}">Create a New Account</a> |
              <a href="{% url 'accounts.login' %}">Back to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
